.loginForm{
    margin: 5% auto;
    width: 50%;
    height: 400px;
    border: 2px lightblue solid;
    display: block;
}

.loginTitle{
    flex:1;
    margin:20px auto 0;
    font-size: 18px;
}
.loginContent{
    display: flex;
    flex-direction: column;
    padding: 0 150px;
    height: 100%;
}
.loginInput{
    flex: 2;
}

.loginButton{
    flex: 1;
}